.duration {
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: stretch;

  & > div:not(:last-child) {
    margin-right: 2rem;
  }

  .chart {
    flex: 1;
  }
}
